<?php
return [
//    'dispatcher' => [
//        'basePath' => '/',
//    ],
//    'mongoObjectMapper' => [
//        'database' => 'template',
//    ],
//    'mail' => [
//        'from' => 'template@template.local',
//    ],
];
